<!DOCTYPE html>
<html>
  <head>
    <title>Race Data: Home</title>
  </head>
  <body>
    <a href="/" rel="index"><h1>Race Data</h1></a>
    <ul class="actions">
      <li><a href="/races/" rel="races"><h2>List of races</h2></a></li>
      <li><a href="/runners/" rel="runners"><h2>List of runners</h2></a></li>
    </ul>
  </body>
</html>
