<!DOCTYPE html>
<html>
  <head>
    <title>Race Data: Runners</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <a href="/" rel="index"><h1>Race Data</h1></a>
    <% if (items.length > 0) { %>
    <div vocab="http://schema.org/" typeof="SportsEvent" id="runners">
    <ul class="runners">
      <% items.forEach(function(item) { %>
      <li property="performers" typeof="Person" class="runner">
        <a property="url" class="url" href="/runners/<%=item._id%>" rel="runner"><span property="name" class="name"><%=item.name%></span></a> 
        (<span property="nationality" class="country"><%=item.country%></span>)
      </li>
      <% }); %>
    </ul>
    </div>
    <% } else { %>
    <div>No runners found.</div>
    <% } %>
    <div class="control">
      <h2>Search for runners by name</h2>
      <form class="search-runners" method="get" action="/runners/">
        <label for="name">Runner name: <input name="name"></label>
        <button>Search</button>
      </form>
    </div>
  </body>
</html>
