<!DOCTYPE html>
<html>
  <head>
    <title>Race Data: Runners</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <a href="/"><h1>Race Data</h1></a>
    <% if (items.length > 0) { %>
    <div vocab="http://schema.org/" typeof="SportsEvent">
    <ul property="performers">
      <% items.forEach(function(item) { %>
      <li typeof="Person"><a href="/runners/<%=item._id%>"><span property="name"><%=item.name%></span></a></li>
      <% }); %>
    </ul>
    </div>
    <% } else { %>
    <div>No runners found.</div>
    <% } %>
    <div class="control">
      <h2>Search for runners by name</h2>
      <form method="get" action="/runners/">
        <label>Runner name: <input name="name"></label>
        <button>Search</button>
      </form>
    </div>
  </body>
</html>
